spring:
  data:
    mongodb:
      primary:
        host: localhost
        port: 27017
        database: api-logs
      secondary:
        host: localhost
        port: 27017
        database: api-metadata